@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "RACING";
    src: url("./Assets/Fonts/RacingSansOne-Regular.ttf");
  }


  @font-face {
    font-family: "ROBOTO";
    src: url("./Assets/Fonts/RobotoCondensed-Bold.ttf");
  }


